.header__wrapper
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  .menu_item
    padding: 4px 6px 4px 6px
    background-color: lightblue
    color: #282c34
    a
      text-decoration: none
  .menu_item:hover
    opacity: 0.8